@import url('https://fonts.googleapis.com/css2?family=Clear+Sans:wght@400;700&family=The+Seasons+Alter:wght@400;700&display=swap');
    #landing{
        background-color: #AD9C91;
        width: 100%;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 650px; 
        align-items: center;
        gap:200px;
    }
    .profile-image{
        height: 350px;
        border-radius: 50%;
        border:white solid 5px;
        margin: 20px;
    } 
    .text-buttom{
        color: white;

    }
    .text-buttom>h3{
        font-family: 'The Seasons', Regular;
        font-size: 43px;
        font-weight: 400;
    }
    .text-buttom>h1{
        font-family: 'The Seasons', Regular;
        font-size: 55px;
        font-weight: 700;

    }
    .text-buttom>p {
        font-family: 'Public Sans', Regular;
        font-size: 19px;

    }
    .contact-button{
        height: 50px;
        width: 300px;
        border-radius:50px;
        border:white solid 2px;
        background-color: #AD9C91;
        color: white;
        margin-top:20px;
        font-family: 'Clear Sans', Regular;
        font-size: 23px;
    }
    
    #about-me{
        background-color: #F2E9E4;
        width: 100%;
    }
    .about{
        background-color: #F2E9E4;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin-top: 10px; 
        border: black solid 2px;
    }
    .about>h1{
        font-family:'Baskerville Display PT', Regular;
        font-size:47px;
        font-weight: 700;
        margin-top: 50px;
    }
    .about>.me{
        width: 70%;
        text-align: center;
        font-family: 'Public Sans', Regular;
        font-size: 19px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    #personal-skill{
        background-color: #F2E9E4;
        width: 100%;
        margin-top: 10px;

    }
    .personal{
        background-color: #F2E9E4;
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 90vh; 
        border: black solid 2px;
    }
    .personal>h1{
        font-family:'Baskerville Display PT', Regular;
        font-size:47px;
        font-weight: 700;
        margin-top: 50px;
    }
    .cards{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top:5%;
    }
    .card-1{
        height: 350px;
        width:300px;
        border:#AD9C91 solid 5px;
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 25px;
       padding: 5px;
    }
    .card-1>h2{
        font-family:'Baskerville Display PT', Regular;
        font-size: 40px;
        font-weight: 300;
    }
    .card-2{
        height: 350px;
        width:300px;
        border:#AD9C91 solid 5px;
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 25px;
       padding: 5px;
    }
    .card-2>h2{
        font-family:'Baskerville Display PT', Regular;
        font-size: 40px;
        font-weight: 300;
    }

    .card-3{
        height: 350px;
        width:300px;
        border:#AD9C91 solid 5px;
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 25px;
       padding: 5px;
    }
    .card-3>h2{
        font-family:'Baskerville Display PT', Regular;
        font-size: 40px;
        font-weight: 300;
    }
    .card-paragraph{
        font-family: 'The Seasons', Regular;
        font-size: 19px;
        width: 80%;
        text-align: center;
    }
    .resume-button{
        display: flex;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        height:60px;
        width: 200px;
        border-radius:50px;
        background-color: #AD9C91;
        color:white;
        border:white solid 3px;
        font-family: 'Clear Sans', Regular;
        font-size:19px;
        font-weight: 400;

    }
    #contact-me{
        background-color: #F2E9E4;
        width: 100%;
        margin-top: 10px;

    }
    .contact{
        height: 70vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        border: black solid 2px;

    }
    .contact>h1{
        font-family:'Baskerville Display PT', Regular;
        font-size:47px;
        font-weight: 700;
        margin-top: 50px;
    }
    .icons{
        display:flex;
        flex-wrap:nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 300px;
        margin-top: 10%;
        
    }
    .icon-size{
        height: 150px;
        width: 80px;
        color: #AD9C91;
    }
    .icon-paragraph{
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: 'The Seasons', Regular;
        font-size:25px;
        font-weight: 500;
    }

    @media (min-width:px) and (max-width:){

        .container{
            display: flex;
            justify-content: center;
            flex-direction: row;
            height: 20px; 
            align-items: center;
            gap:200px;
        }
        .text-buttom{
            order:0;
            width: 100%;
        }
        .text-buttom>h3{
            font-family: 'The Seasons', Regular;
            font-size: 28px;
            font-weight: 400;
        }
        .text-buttom>h1{
            font-family: 'The Seasons', Regular;
            font-size: 35px;
            font-weight: 1000;
    
        }
        .text-buttom>p {
            font-family: 'Public Sans', Regular;
            font-size: 18px;
    
        }
        .icons{
            padding: 30px;
        }

    }
    @media (min-width: 425px) {
        .container{
            flex-direction:column;
            height: 90vh; 
            gap:10px;

        }
        .text-buttom{
            order:1;
        }
        .text-buttom>h3{
            font-family: 'The Seasons', Regular;
            font-size: 60px;
            font-weight: 500;
        }
        .text-buttom>h1{
            font-size: 80px;
            font-weight: 1000;
        }
        .text-buttom>p {
            font-size: 25px;
        }
        .profile-image{
            height: 550px;
            border:white solid 8px;
            margin-right: 150px;
        }
        .about{
            height: 80vh;
        }
        .about>h1{
            font-size:60px;
            font-weight: 700;
            margin-top: 20px;
        }
        .about>.me{
            width: 80%;
            font-size: 30px;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        .personal{
            height: 95vh; 
        }
        .personal>h1{
            font-size:60px;
        }
        .cards{
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 20px;
            margin-top:5%;
        }
        .card-1>h2{
            margin-top: 40px;
            font-size: 45px;
            font-weight: 500;
        }
       
        .card-2>h2{
            font-family:'Baskerville Display PT', Regular;
            font-size: 40px;
            font-weight: 500;
            margin-top: 40px;
        }
    
        .card-3>h2{
            margin-top: 40px;
            font-size: 40px;
            font-weight: 500;
        }
        .card-paragraph{
            
            font-size: 25px;
            width: 80%;
        }
        .resume-button{
            height:70px;
            width: 300px;
            font-size:25px;
        }
        .contact{
            height: 50vh;
        }
        .contact>h1{
            font-size:60px;
        }
        .icon-paragraph{
            font-size:25px;
            font-weight: 500;
        }
        
    }
    @media (min-width: 375px){
        .container{
            flex-direction:column;
            height: 100vh; 
            gap:50px;

        }
        .text-buttom{
            order:1;
        }
        .text-buttom>h3{
            font-family: 'The Seasons', Regular;
            font-size: 60px;
            font-weight: 500;
        }
        .text-buttom>h1{
            font-size: 80px;
            font-weight: 1000;
        }
        .text-buttom>p {
            font-size: 25px;
        }
        .profile-image{
            height: 550px;
            border:white solid 8px;
            margin-right: 150px;
        }
        .contact-button{
            height: 70px;
            width: 350px;
            margin-top:50px;
            font-size: 32px;
        }
        .about{
            height: 80vh;
        }
        .about>h1{
            font-size:65px;
            font-weight: 700;
            margin-top: 10px;
        }
        .about>.me{
            width: 80%;
            font-size: 35px;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        .personal{
            height: 105vh; 
        }
        .personal>h1{
            font-size:65px;
        }
        .cards{
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 20px;
            margin-top:5%;
        }
        .card-1{
            height: 450px;
            width:400px;
        }
        .card-2{
            height: 450px;
            width:400px;
        }
        .card-3{
            height: 450px;
            width:400px;
        }
        .card-1>h2{
            margin-top: 40px;
            font-size: 60px;
            font-weight: 500;
        }
       
        .card-2>h2{
            font-family:'Baskerville Display PT', Regular;
            font-size: 60px;
            font-weight: 500;
            margin-top: 40px;
        }
    
        .card-3>h2{
            margin-top: 40px;
            font-size: 60px;
            font-weight: 500;
        }
        .card-paragraph{
            font-size: 35px;
            width: 80%;
        }
        .resume-button{
            height:75px;
            width: 350px;
            font-size:35px;
        }
        .contact{
            height: 50vh;

        }
        .contact>h1{
            padding-top: 50px;
            font-size:60px;
        }
        .icon-paragraph{
            font-size:35px;
            font-weight: 500;
        }
        .icons{
            flex-direction: row;
            gap: 150px;
        }
    }

    @media (min-width: 320px){
        .container{
            flex-direction:column;
            height: 100vh; 
            gap:50px;

        }
        .text-buttom{
            order:1;
        }
        .text-buttom>h3{
            font-family: 'The Seasons', Regular;
            font-size: 65px;
            font-weight: 500;
        }
        .text-buttom>h1{
            font-size: 85px;
            font-weight: 1000;
        }
        .text-buttom>p {
            font-size: 30px;
        }
        .profile-image{
            height: 600px;
            border:white solid 8px;
            margin-right: 150px;
        }
        .contact-button{
            height: 80px;
            width: 400px;
            margin-top:50px;
            font-size: 35px;
        }
        .about{
            height: 80vh;
        }
        .about>h1{
            font-size:70px;
            font-weight: 700;
            margin-top: 10px;
        }
        .about>.me{
            width: 80%;
            font-size: 40px;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        .personal{
            height: 90vh; 
        }
        .personal>h1{
            font-size:70px;
        }
        .cards{
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 20px;
            margin-top:5%;
        }
        .card-1{
            height: 450px;
            width:400px;
        }
        .card-2{
            height: 450px;
            width:400px;
        }
        .card-3{
            height: 450px;
            width:400px;
        }
        .card-1>h2{
            margin-top: 40px;
            font-size: 65px;
            font-weight: 500;
        }
       
        .card-2>h2{
            font-family:'Baskerville Display PT', Regular;
            font-size: 65px;
            font-weight: 500;
            margin-top: 40px;
        }
    
        .card-3>h2{
            margin-top: 40px;
            font-size: 65px;
            font-weight: 500;
        }
        .card-paragraph{
            font-size: 35px;
            width: 85%;
        }
        .resume-button{
            height:75px;
            width: 350px;
            font-size:35px;
        }
        .contact{
            padding-top: 100px;
            height: 50vh;

        }
        .contact>h1{
            padding-top: 50px;
            font-size:60px;
        }
        .icon-paragraph{
            font-size:40px;
            font-weight: 500;
        }
        .icons{
            flex-direction: row;
            gap: 150px;
        }

    }
    
    
    